/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.logo{
    width: 30%;
}

html{
font-family: 'Heebo', sans-serif;
}

body{
    background-image: url('table.png');
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat
}

header{
    background: #820428;
    color: white;
    font-size: 50px;
    text-align: center;
}

.create-user{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  display: block;
  position: center;
  background-color: white;
  font-size: 15px;
}  

li {
    list-style-type: none;
}


.user-stack{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.user-profile-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    background: #a8ac42;
    margin-bottom: 50px;
    padding: 30px;
    border-color: white;
    border-radius: 15px
}

.user-profile-image{
  width: 100%;
  margin-bottom: 15px;
}

.userName{
  color:white;
  font-size: 40px;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 30px;
  font-family: 'Barrio', cursive;
}

.foodFlag{
    width: 50px;
    margin-bottom: 10px;
}


.create-food, input, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    display: block;
    position: center;
    background-color: white;
    font-size: 15px;
}


#food-origin-dropdown{
    font-size: 15px;
    border-radius: 15px;
}

#food-user-dropdown{
    font-size: 15px;
    border-radius: 15px;
}

#food-submit{
    background-color: #820428;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(124, 115, 115, 0.1);

}

#food-submit:hover{
    background-color: black;
    box-shadow: 0px 5px 10px rgba(0, 5, 5, 0.4);
    color: #fff;
    transform: translateY(-1px);
  }

.foodCards{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap
}

.eachFoodCard{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.foodName{
    margin-bottom: 5px;
    font-size: 40px;
    color:  #820428;
    font-family: 'Barrio', cursive;
}

.foodDescription{
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.foodIngredients{
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}

.author{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-bottom: 10px;
}

.removeFood{
    background-color: red;
    font-size: 10px;
    border-radius: 5px;
    border-color: #fe8b09;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.flag{
    width: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

.countryCards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 15px
}

.countryName{
    font-size: 20px;
    margin-bottom: 5px
}

.regionName{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subregionName{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.eachCountryCard{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 20px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}  


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #a8ac42;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }


  .button-head{
      display: flex;
      justify-content: center;
  }

  #myBtn{
      background-color: #fe8b09;
      font-size: 30px;
      border-radius: 5px;
      border-color: #fe8b09;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px;
      color: white;
      text-transform: uppercase;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      width: 90%;
  }

  #myBtn:hover{
    background-color: #fe7709;
    box-shadow: 0px 10px 15px rgba(0, 5, 5, 0.4);
    color: #fff;
    transform: translateY(-1px);
  }


  /* The User Modal (background) */
.userModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .user-modal-content {
    background-color:#a8ac42;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .user-close {
    color: black;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .user-close:hover,
  .user-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }


  .user-entry{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }

  #user-create-submit{
    background-color: #820428;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(124, 115, 115, 0.1)
  }

  #user-create-submit:hover{
    background-color: black;
    box-shadow: 0px 5px 10px rgba(0, 5, 5, 0.4);
    color: #fff;
    transform: translateY(-1px);
  }

  #returnUser{
    background-color: #fe8b09;
    font-size: 30px;
    border-radius: 5px;
    border-color: #fe8b09;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
  }

  #returnUser:hover{
    background-color: #fe7709;
    box-shadow: 0px 10px 15px rgba(0, 5, 5, 0.4);
    color: #fff;
    transform: translateY(-1px);
  }

  #userBtn{
      background-color: #fe8b09;
      font-size: 30px;
      border-radius: 5px;
      border-color: #fe8b09;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px;
      color: white;
      text-transform: uppercase;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      width: 90%;
  }

  #userBtn:hover{
    background-color: #fe7709;
    box-shadow: 0px 10px 15px rgba(0, 5, 5, 0.4);
    color: #fff;
    transform: translateY(-1px);
  }

  #viewOrigins{
    background-color: #fe8b09;
    font-size: 30px;
    border-radius: 5px;
    border-color: #fe8b09;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
}

#viewOrigins:hover{
  background-color: #fe7709;
  box-shadow: 0px 10px 15px rgba(0, 5, 5, 0.4);
  color: #fff;
  transform: translateY(-1px);
}

#viewFoods{
    background-color: #fe8b09;
    font-size: 30px;
    border-radius: 5px;
    border-color: #fe8b09;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
}

#viewFoods:hover{
  background-color: #fe7709;
  box-shadow: 0px 10px 15px rgba(0, 5, 5, 0.4);
  color: #fff;
  transform: translateY(-1px);
}

.user-page-stack{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.user-page-profile-card{
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  border-radius: 15px;
  margin-top: 15px
}

.user-page-profile{
  width: 300px;
  height: 300px;
  margin-right: 5px; 
  margin-left: 5px;
  border-radius: 50%;
  vertical-align: middle;
  padding: 25px

}


.user-page-name{
  color: #820428;
  margin-top: 10px;
  align-self: center;
  font-size: 50px;
  font-family: 'Barrio', cursive;
}

.user-page-delete{
  align-self: flex-end;
  background-color: red;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.userFoodName{
  color:  #820428;
  margin-bottom: 10px;
  font-family: 'Barrio', cursive;
  font-size: 25px
}

.userFoodDescription{
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.userFoodIngredients{
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}

.user-food-delete{
  align-self: flex-end;
  background-color: red;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
}